Networks_Spain/DATA/shapefile/Seccionado_2021/SECC_CE_20210101.shx
Networks_Spain/DATA/shapefile/Seccionado_2021/SECC_CE_20210101.shp.xml
Networks_Spain/DATA/shapefile/Seccionado_2021/SECC_CE_20210101.shp
Networks_Spain/DATA/shapefile/Seccionado_2021/SECC_CE_20210101.sbx
Networks_Spain/DATA/shapefile/Seccionado_2021/SECC_CE_20210101.sbn
Networks_Spain/DATA/shapefile/Seccionado_2021/SECC_CE_20210101.dbf
Networks_Spain/DATA/shapefile/Seccionado_2021/SECC_CE_20210101.prj
Networks_Spain/DATA/shapefile/Seccionado_2021/SECC_CE_20210101.CPG
Networks_Spain/DATA/shapefile/ESP_adm4.shx
Networks_Spain/DATA/shapefile/ESP_adm4.shp
Networks_Spain/DATA/shapefile/ESP_adm4.prj
Networks_Spain/DATA/shapefile/ESP_adm4.dbf
Networks_Spain/DATA/shapefile/ESP_adm4.csv
Networks_Spain/DATA/shapefile/ESP_adm4.cpg
Networks_Spain/DATA/MUNICIPALITIES/G_mun_mad.dat
Networks_Spain/DATA/MUNICIPALITIES/G_mun_bal.dat
Networks_Spain/DATA/MUNICIPALITIES/G_mun_bcn.dat
Networks_Spain/DATA/CENSUS/G_census_mad.dat
Networks_Spain/DATA/CENSUS/G_census_bcn.dat
Networks_Spain/DATA/CENSUS/G_census_bal.dat
Networks_Spain/DATA/1000m_CELLS/G1000_cell_mad.dat
Networks_Spain/DATA/1000m_CELLS/G1000_cell_bcn.dat
Networks_Spain/DATA/1000m_CELLS/G1000_cell_bal.dat
